[Unit]
Description=Skywire Manager node start/stop service for Raspberry Pi Model 3B+
After=network.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/home/pi/go/src/github.com/skycoin/skywire/static/script/node_start
ExecStop=/home/pi/go/src/github.com/skycoin/skywire/static/script/stop
RemainAfterExit=yes
Environment="MACADD=b8:27:eb:e6:26:55"

[Install]
WantedBy=multi-user.target
